@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
  border-style: ridge;
}
input:focus-within{
  border:none
}
input:focus-visible{
  outline-color: var(--primary_color);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
:root{
  --primary_color1: #111563;
  --primary_color2: #191726;
  --nav_height: 40px;
}
.root_container{
  width: 80%;
  margin:auto;
}
.element_center{
  margin: var(--nav_height) 0;
}
@media (max-width: 600px) {
  .root_container{
    width: 100%;
    padding: 12px;
  }
}